*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custome properties*/

:root {
    --ff-primary: 'Poppins';
    --ff-secondary:sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #ffff;
    --clr-text: #151515;
    --clr-accent: hsl(218, 100%, 58%);
    --clr-gradual: linear-gradient(to right,hsl(253, 100%, 54%), hsl(192, 100%, 73%));

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 2rem;
    --fs-body: 1rem;

    --imgs-me: 250px;

    --bs: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.3rem;
        --fs-body: 1rem;
        --imgs-me: 300px;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);

    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    width: var(--imgs-me);
    box-shadow: var(--bs);
}

/* Typography */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.seciton-title {
    margin-bottom: .25em;
}

.section-title-intro {
    font-weight: var(--fw-reg);
}

.section-title-intro strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-gradual);
    font-size: var(--fs-h3);
    padding: .25em 1em;
    box-shadow: var(--bs);
    color: #c5fff5;
}

/* Intro section */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: min-content max-content;
        column-gap: 10px;
        
        /* Keep content at the centre */
        width: min-content;
        margin: 0 auto;
    }

    .section-subtitle-intro {
        align-self: flex-start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1rem;
        width: calc(100% + 0.3em);
    }

    .intro-img {
        grid-area: 1 / 1 / 3 / 2;
        /* Put colour label underneath */
        z-index: 2;
    }
}